
target/
pom.xml.versionsBackup
/release.properties

env.properties
env.xml
env.yml

/.idea/
*.iml

*.log
**.bak

.DS_Store
**.pdf
.project
.classpath
.settings
api_gen.*.properties
api_gen.*.yml

dependencies.txt
coordinateCase.json


node_modules/
.temp
.cache
dist/